@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@300&family=PT+Mono&display=swap');

body {
    font-family: "Helvetica Neue";
}
a:link {
    color: rgb(228, 118, 0);
}

a:visited {
    color: rgb(133, 5, 0);
}

