@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@300&family=PT+Mono&display=swap');

body {
    --bg-1: #18181c;
    --bg-2: #272c33;
    --fg-1: #D2E5C2;
    --fg-2: #343d39;
    --highlight: #7edead;

    background-color: var(--bg-1);
    color: var(--fg-1);

    margin-top: 0;
    margin-bottom: 0;
    height: 100vh;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    font-family: 'IBM Plex Mono', monospace;
    font-size: 15pt;
}

a {
    color: var(--highlight);
}

h2, h3 {
    margin: 0.5ex;
}

input {
    border: none;
    width: 4em;
    background-color: var(--bg-1);
    color: var(--highlight);
}

main {
    flex-grow: 1;

    width: 100%;
    padding-left: 4em;
    padding-right: 4em;
    box-sizing: border-box;

    display: flex;
    flex-direction: row;
    align-content: stretch;
}

#sentence-config {
    display: flex;
    flex-direction: column;
    min-width: 14em;
}

#morse-table {
    flex-grow: 1;
    display: flex;
    flex-direction: row;
}

#morse-table span {
    white-space: pre;
}

.morse-col {
    padding: 1em;
}

.morse-inactive {
    color: var(--fg-2);
}

#col-mid {
    background-color: var(--fg-2);
    width: 0.1em;
}

#col-left {
    display: flex;
    flex-direction: column;
    align-items: end;
}

.morse-element {
    display: flex;
    flex-direction: row;
}

#main-split {
    position: relative;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;

    min-height: 80vh;
    width: 100%;
    flex-grow: 1;
    margin-right: 2em;
}

header, footer {
    background-color: var(--bg-2);
    width: 100vw;
    height: 15ex;

    display: flex;
    justify-content: space-evenly;
}

.head, .foot {
    padding-left: 2em;
    padding-right: 2em;

    height: 100%;

    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;

    font-size: 15pt;
}

#modes > .button-select.selected::before {
    content: "✓ ";
}
#modes > .button-select:not(.selected) {
    padding-left: 2ex;
}

.active-page>a {
    text-decoration: none;
    color: var(--fg-1);
}

#textpart {
    width: 100%;
    position: relative;
}

#buttons {
    margin: 1ex;
    display: flex;
}
#buttons>* {
    margin: 0.3em;
}

.button-outer {
    --button-col: var(--fg-2);
}
.button-outer.active {
    --button-col: var(--fg-1);
    cursor: pointer;
}

.button-outer {
    border: 0.3ex solid var(--button-col);
    border-radius: 0.4ex;
    width: 2.9ex;
    height: 2.9ex;
    padding: 0.3ex;
}


#button-play-inner {
    position: absolute;
    left: 2.3ex;
    border-top: 1.5ex solid rgba(0,0,0,0);
    border-bottom: 1.5ex solid rgba(0,0,0,0);
    border-left: 2.6ex solid var(--button-col);
    box-sizing: border-box;
    height: 0px;
}

#button-stop-inner {
    width: 2.5ex;
    height: 2.5ex;
    margin: 0.2ex;
    background-color: var(--button-col);
}

#button-next-inner::before {
    content: "⮕";
    font-size: 20pt;
    color: var(--button-col);
}

#button-next-inner {
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}

#cursor::before {
    content: "|";
    color: var(--fg-2);
}

#key {
    font-size: 40pt;
    padding: 1ex;
    border-radius: 1.5em;
    border: 0.2em solid var(--highlight);
    height: 3ex;
    min-width: 3ex;
    display: flex;
}

#key.light, #key.light>input {
    background: var(--fg-1);
    color: var(--bg-1);
}

#key-morse {
    height: 1ex;
    position: relative;
    top: -1ex;
}
#key-text {
    height: 2ex;
}

#text-inp {
    font-size: 40pt;
}

.space {
    color: var(--fg-2);
}

#volume {
    width: 10em;
}

.fireworks {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
}

.warning {
    color: #b76a6a;
    font-size: 11pt;
}

#reset-confirm:not(.active) {
    visibility: hidden;
}

#text {
    font-size: 30pt;
}

.char.correct {
    /* no styling */
}

.char.missing {
    color: red;
    text-decoration: underline;
}
.char.extraneous {
    color: red;
    text-decoration: line-through;
}
.char.incorrect {
    color: red;
    text-decoration: line-through;
    position: relative;
}
.char.incorrect > .corrected {
    position: absolute;
    font-size: 15pt;

    left: 0.25em;
    bottom: -0.5em;
    color: var(--fg-1);
}

.char.missing-end {
    color: var(--fg-2);
}
