body {
    padding: 5em;
}

a > span {
    color: black;
    text-decoration: underline;
}

#triangle {
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-left: 10px solid #FF1493;
    width: 1px;
    height: 1px;
    display: inline-block;
}
