body {
    background: #0d1318;
    margin: 0;
    color: white;
    padding: 2em;

    font-family: "Sax";
    font-size: 14pt;
}

@font-face {
    font-family: "Sax";
    src: url("https://abrudz.github.io/SAX2/SAX2.ttf");
}

a {
    color: rgb(228, 118, 0);
}

a:visited {
    color: rgb(196, 5, 85);
}

p {
    text-align: justify;
    text-indent: 1em;
    margin: 0.2em;
}

main {
    padding-left: 10vw;
    padding-right: 10vw;
    padding-bottom: 15vw;
}

main.widescreen {
    padding-left: 3vw;
    padding-right: 3vw;
    padding-bottom: 3vw;
}

h1 {
    text-align: center;
    width: 100%;

    font-weight: lighter;
    font-size: 40pt;
}

.img-container {
    padding-top: 3em;
    width: 100%;

    display: flex;

    position: static;
    display: grid;
    grid-template-columns: 1fr 7fr 1fr;
}

.img-container > * {
    grid-row: 1;
    grid-column: 2;
    width: 100%;

    border-radius: 3px;
}

.overlay {
    background: repeating-linear-gradient(
          0deg
        , rgba(0, 0, 0, 0) 0px
        , rgba(255, 128, 0, 0.08) 3px
        , rgba(0, 0, 0, 0) 6px
    );

    box-shadow: inset 0px 0px 12px 10px rgba(0, 0, 0, 30%);
}

pre, code {
    border: 2px solid rgb(128, 128, 128);
}

pre {
    width: 100%;
    border-radius: 10pt;
    padding: 8pt;
    font-size: 11pt;
    overflow-x: scroll;

    white-space: break-spaces;
    word-break: break-all;
}

code {
    background: rgb(80, 80, 80);
    border-radius: 0.4em;
    font-size: 12pt;

    white-space: nowrap;
    box-sizing: border-box;

    padding-left: 0.2em;
    padding-right: 0.2em;
}

.infobox {
    background: #3E2E26;
    border: 5px solid rgba(0, 0, 0, 0.2);
    border-radius: 20pt;
    padding: 1em;
    margin: 1em;
}

.quote {
    border-left: 4pt solid #444444;
    border-radius: 2pt;
    padding-left: 1em;
    text-indent: 0em;
}
